body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}
.emr-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
h1 {
    text-align: center;
    color: #333;
}
.emr-section {
    margin-bottom: 20px;
}
.emr-section h2 {
    color: #800000;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.emr-field {
    margin: 5px 0;
}
.emr-label {
    font-weight: bold;
    color: #444;
}
.emr-value {
    padding-left: 10px;
    color: #333;
}
.input-field {
    margin-top: 10px;
    display: inline-block;
}
.button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.button:hover {
    background-color: #0056b3;
}
.button.save {
    display: none;
}

#address2, #zipcodeInput {
    display: inline-block; /* Keep them on the same line */
    vertical-align: middle; /* Aligns them vertically */
}

#zipcodeInput {
    margin-left: 10px; /* 10 pixels to the right of "Minneapolis, MN" */
}


/* New SDOH Data Box */
.sdoh-data {
    position: absolute;
    top: 100px;
    right: 20px;
    width: 300px;
    padding: 15px;
    background-color: #f0f8ff;
    border: 1px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sdoh-data h3 {
    color: #007bff;
    margin-bottom: 10px;
    text-align: center;
}
.sdoh-data pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
#diabetes-resources-container a, #cvd-resources a {
    display: block;
    overflow: hidden;
    padding: 5px;
    text-decoration: none;
    color: #007BFF;
}
#diabetes-resources, #cvd-resources {
    width: 100%;
}
.loading {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #007BFF; /* Spinner color */
    width: 20px; /* Spinner size */
    height: 20px; /* Spinner size */
    animation: spin 1s linear infinite; /* Animation */
    margin-left: 10px; /* Space between text and spinner */
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.resources {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
}